<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Promise Keeper</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>202507141134</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1325E88B3259E8CBDAD1B1DD74A8D0DA4CEB8F92</string>
				<key>dateExpires</key>
				<string>2/1/27</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2045</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1325E88B3259E8CBDAD1B1DD74A8D0DA4CEB8F92</string>
						<key>dateExpires</key>
						<string>2/1/27</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>1325E88B3259E8CBDAD1B1DD74A8D0DA4CEB8F92</string>
								<key>dateExpires</key>
								<string>2/1/27</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>com.apple.application-identifier</key>
								<string>org.sparkle-project.Sparkle.Autoupdate</string>
							</dict>
							<key>name</key>
							<string>Autoupdate</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>TX645N2QBW</string>
								<key>name</key>
								<string></string>
							</dict>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2045</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>1325E88B3259E8CBDAD1B1DD74A8D0DA4CEB8F92</string>
								<key>dateExpires</key>
								<string>2/1/27</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Updater.app</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>TX645N2QBW</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.7.1</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2045</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>1325E88B3259E8CBDAD1B1DD74A8D0DA4CEB8F92</string>
								<key>dateExpires</key>
								<string>2/1/27</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Downloader.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>TX645N2QBW</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.7.1</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2045</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>1325E88B3259E8CBDAD1B1DD74A8D0DA4CEB8F92</string>
								<key>dateExpires</key>
								<string>2/1/27</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Installer.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>TX645N2QBW</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.7.1</string>
						</dict>
					</array>
					<key>name</key>
					<string>Sparkle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TX645N2QBW</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>202507141134</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1325E88B3259E8CBDAD1B1DD74A8D0DA4CEB8F92</string>
						<key>dateExpires</key>
						<string>2/1/27</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>com.apple.application-identifier</key>
						<string>TX645N2QBW.com.example.mac.PromiseKeeper.PromiseWidgetExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>TX645N2QBW</string>
						<key>com.apple.security.app-sandbox</key>
						<true/>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.TX645N2QBW.com.example.mac.PromiseKeeper</string>
						</array>
						<key>com.apple.security.network.client</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>TX645N2QBW.com.example.mac.PromiseKeeper</string>
						</array>
					</dict>
					<key>name</key>
					<string>PromiseWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>e15cea99-883c-4b8e-9106-8b3aef54d4f4</string>
						<key>dateExpires</key>
						<string>7/9/43</string>
						<key>name</key>
						<string>Mac Team Direct Provisioning Profile: com.example.mac.PromiseKeeper.PromiseWidgetExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TX645N2QBW</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>TX645N2QBW.com.example.mac.PromiseKeeper</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TX645N2QBW</string>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.TX645N2QBW.com.example.mac.PromiseKeeper</string>
				</array>
				<key>com.apple.security.files.downloads.read-write</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
				<key>com.apple.security.temporary-exception.screen-recording</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>TX645N2QBW.com.example.mac.PromiseKeeper</string>
				</array>
			</dict>
			<key>name</key>
			<string>PromiseKeeper.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3026addb-26c0-42d4-b64e-7bffad92c7c7</string>
				<key>dateExpires</key>
				<string>7/9/43</string>
				<key>name</key>
				<string>Mac Team Direct Provisioning Profile: com.example.mac.PromiseKeeper</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TX645N2QBW</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
